.WelcomeCard {
    max-width: 584px;
    height: auto;
}

.welcome {
    font-weight: normal;
    font-size: 50px;
}

.welcome-content-wrapper {
    margin:0px 15px 0px 15px;
}

.welcome-content {
    white-space: pre-line;
    text-align: justify;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 20px;
}