.header-main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.logout-button{
    border-radius: 10px;
    width: 70px;
    background-color: lightgray;


}
.logout-button:hover{
    background-color: white;
}
.links-container {
    margin: 10px 50px 10px auto;
    color: white;
}
a {
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: LightGray;
}
a::target-text{}