.WelcomeCard{
    border: 2px solid black;
    border-radius: 30px;
    width: 100%;
    max-width: 584px;
    height: 496px;

}



.welcome-content-wrapper{
    margin:0px 15px 0px 15px;
}

.welcome-content {
    white-space: pre-line;
    text-align: justify;
    justify-content: initial;
}