.admin-card {
    border-left: 1px solid black;
    border-right: 1px solid black;
    max-width: 896px;
    position: relative;
    height: 75vh;
    margin: auto;
    width: 50%;
    padding: 10px;
    overflow: auto;
    z-index: 0;



}

.download-users{
    position:fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 786px){
    .admin-card {
        width: 90%
    }
}