* {
  margin: 0;
}
html, body, #root, .App {
  height: 100vh;
}


@font-face {
  font-family: Univers-light-normal;
  src: url('../public/Univers-Font/Univers-light-normal.ttf')
}

body {
  margin: 0;
  padding: 0;
  font-family: "Univers-light-normal", "Helvetica Neue",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

